.base-button{
    width: 192px;
    height: 53px;
    padding: 44px 15px;
    border: none;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    color: #FFFCFC;
}

**variant intent**

.buttonPrimary{
    background-color: #0075CF;
}

.base-button:hover{
    background-color: #04538F;
}

.buttonIactive{
    background-color: #D1D1D1;
}

.buttonDanger{
    background-color: #C20000;
}

.buttonOutlineP{
    background-color: #FFFCFC;
    border-color: #0075CF;
    color:#0075CF;
}

.buttonOutlineS{
    background-color: #FFFCFC;
    border-color: #04538F;
    color:#04538F;
}

**variant size**

.buttonSmall{
    width: 79px;
    height: 40px;
    padding: 24px 16px;
    font-size: 14pt;
}

.buttonMedium{
    width: 196px;
    height: 53px;
    padding: 46px 16px;
    font-size: 20pt;
}

.buttonLarge{
    width: 327px;
    height: 60px;
    padding: 101px 16px;
    font-size: 24pt;
}