.TodoEditor{
    display:flex;
    width: 600px;
}

.TodoEditor input{
    margin-right: 20px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: transparent;
    font-size: 16px;
}

/*New Item*/

.BackGround{
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

.BackGround form{
    position: absolute;
    padding: 20px 0;
    width: 70%;
    height: 70%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: antiquewhite;
 
    
}

.BackGround form input{
    border: none;
    border-radius: 5px;
}

.BackGround textarea{
    width: 60%;
    padding: 2em;
    border: none;
    border-radius: 5px;
}