.App{
  margin: 0 auto;
  padding: 30px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.TodoList .ListWrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.TodoItem{
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 20px;
}

.TodoItem .TitleCol{
  flex: 1;
}